.product-list-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-grid {
  display: grid;
 
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.product-card {
  background-color: #fff0f5;
  width: 80%;
  border: 2px solid rgb(193, 193, 240);
  border-radius: 12px;
  padding: 20px;
  transition: transform trnslateY(-5) 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card h3 {
  color: rgb(113, 113, 148);
  margin-bottom: 10px;
}

.product-card p {
  color: #555;
  margin: 5px 0;
}

.product-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.product-buttons button {
  background-color: rgb(96, 96, 215);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.product-buttons button:hover {
  background-color: rgb(64, 64, 184);
}

.create-btn {
  margin-top: 20px;
  background-color: rgb(138, 138, 232);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.create-btn:hover {
  background-color: rgb(113, 113, 227);
}
